                <!--
                <p class="level-item">
                    <%= link_to "Destroy", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } class: "button is-danger" %>
                </p>
                -->

    # def destroy
    #     @post = Post.find(params[:id])
    #     @post.destroy

    #     redirect_to posts_path
    # end