<h1 class="title">New Post</h1>

<div class="section">
    <%= simple_form_for @post do |f|  %>
        <div class="field">
            <div class="control">
                <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
                <%# wrapper: false disables simple_form's class wrappers, which clash with Bulma %>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
            </div>
        </div>
        <%# simple_form button, class styles it via Bulma %>
        <%= f.button :submit, 'Create new post', class: "button is-primary" %>
    <% end %>
</div>